:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --lg: 16px;
    --md: 14px;
    --sm: 8px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.new-password{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

}
.form-password{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    border: solid 1px;
    padding: 5%;
    border-radius: 20px;
    border-color: var(--hospital-green);
    
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
@media (max-width: 640px) {
    .logo{
        display: block;
    }
}
.form-new-password{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: var(--lg);
    text-align: center;
}
.sub-title{
    margin-top: 0%;
    font-size: var(--lg);
    text-align: center;
    font-weight:lighter;
    color: var(--very-ligth-pink);
    margin-bottom: 15%;
}
label{
    font-size: var(--md);
    font-weight: bold;
}
.input{
    border: 0ch;
    border-radius: 8px;
    background-color: var(--text-input-field);
    padding: 3%;
    margin-bottom: 10%;
}
.primary-button{
    font-size: medium;
    font-weight: bold;
    font-family: quicksand;
    padding: 3%;
    border: 0ch;
    border-radius: 8px;
    background-color: var(--hospital-green);
    cursor: pointer;
}
.primary-button:hover{
    background-color: rgb(11, 138, 11);
}
.icon-email{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 80px;
    align-self: center;
    margin-bottom: 15%;
}
.other-way{
    font-size: var(--md);
    margin-top: 10%;
}
.resend{
    color: var(--hospital-green);
    text-decoration-line: none;
    
}
.resend:hover{
    color: rgb(11, 138, 11);
}
.back-login{
    color: var(--hospital-green);
    text-decoration-line: none;
    font-size: var(--md);
    margin-top: 10%;
    text-align: center;
}
.back-login:hover{
    color: rgb(11, 138, 11);
}
.btn-signup{
    font-size: medium;
    font-weight: bold;
    font-family: quicksand;
    padding: 3%;
    border: 0ch;
    border-radius: 8px;
    border: solid 1px;
    border-color: var(--hospital-green);
    background-color: var(--white);
    cursor: pointer;
    width: 300px;
    color: var(--hospital-green);
    text-decoration-line: none;
    text-align: center;
}
.btn-signup:hover{
    color: rgb(11, 138, 11);
}