:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.new-password{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

}
.form-password{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}